.deviceview {
	box-sizing: content-box;
	display: grid;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	grid-auto-columns: 20px;
	grid-auto-rows: 20px;
	grid-gap: 2px;
	grid-auto-flow: column;
	margin-bottom: 10px;
	min-height: 0;
	min-width: 0;
	height: 42px;
	width: 702px;
	margin: auto;
	overflow: hidden;
}

.deviceview a {
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}

.deviceview a:hover {
	transform: scale(1.2);
}

.deviceview a img {
	float: left;
}

.deviceview a i {
	display: grid;
}

.device-view-tooltip {
	opacity: 1 !important;
}

.device-view-tooltip .tooltip-inner {
	max-width: 300px;
}

.device-view-port.nocolor {
	background: repeating-linear-gradient(
					-45deg,
					grey,
					grey 5px,
					black 5px,
					black 10px
				  );
}
