.switchview {
	box-sizing: content-box;
	display: grid;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	--grid-template-columns: repeat(32, 20px);
	--grid-template-rows: repeat(2, 20px);
	grid-auto-columns: 20px;
	grid-auto-rows: 20px;
	grid-gap: 2px;
	grid-auto-flow: column;
	margin-bottom: 10px;
	min-height: 0;
	min-width: 0;
	--background-image: repeating-linear-gradient(
			90deg,
			#eee 0px,
			#eee 1px,
			transparent 2px,
			transparent 22px
		),
		repeating-linear-gradient(
			180deg,
			#eee 0px,
			#eee 1px,
			transparent 2px,
			transparent 22px
		);
	background-position: 8px 8px;
	height: 42px;
	width: 702px;
	margin: auto;
	overflow: hidden;
}

/* generic */

.switchview.modelgeneric {
	grid-template-areas: "a1    a2    a3    a4    a5    a6    a7    a8    a9    a10   a11   a12   a13   a14   a15   a16   a17   a18   a19   a20   a21   a22   a23   a24   a25   a26   a27   a28   a29   a30   a31   a32" "b1    b2    b3    b4    b5    b6    b7    b8    b9    b10   b11   b12   b13   b14   b15   b16   b17   b18   b19   b20   b21   b22   b23   b24   b25   b26   b27   b28   b29   b30   b31   b32";
}

.switchview p {
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
}

.switchview p:hover {
	transform: scale(1.2);
}

.switchview p img {
	float: left;
}

.switchview p i {
	display: grid;
}

.device-view-tooltip {
	opacity: 1 !important;
}

.device-view-tooltip .tooltip-inner {
	max-width: 300px;
}