/* Ports are named "LC 1", "LC 2" and so on */
.deviceview {
	/* both set to auto to overwrite the 32 columns 2 rows design */
	grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas:
	"lc-1 lc-2 lc-3 lc-4 lc-5 lc-6 lc-7 lc-8 lc-9 lc-10 lc-11 lc-12 lc-13 lc-14 lc-15 lc-16 lc-17 lc-18 lc-19 lc-20 lc-21 lc-22 lc-23 lc-24"
}