/* 48-port UTP Patch Panel */
.deviceview.area.dFront {
background-color: #000;
            /* both set to auto to overwrite the 32 columns 2 rows design */
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas:
            "port-1 port-2 port-3 port-4 port-5 port-6 s0 port-7 port-8 port-9 port-10 port-11 port-12 s1 port-13 port-14 port-15 port-16 port-17 port-18 s2 port-19 port-20 port-21 port-22 port-23 port-24"
            "port-25 port-26 port-27 port-28 port-29 port-30 s3 port-31 port-32 port-33 port-34 port-35 port-36 s4 port-37 port-38 port-39 port-40 port-41  port-42 s5 port-43 port-44 port-45 port-46 port-47 port-48";
}

.deviceview.area.dRear {
background-color: #000;
            /* both set to auto to overwrite the 32 columns 2 rows design */
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas:
            "port-1 port-2 port-3 port-4 port-5 port-6 s0 port-7 port-8 port-9 port-10 port-11 port-12 s1 port-13 port-14 port-15 port-16 port-17 port-18 s2 port-19 port-20 port-21 port-22 port-23 port-24"
            "port-25 port-26 port-27 port-28 port-29 port-30 s3 port-31 port-32 port-33 port-34 port-35 port-36 s4 port-37 port-38 port-39 port-40 port-41  port-42 s5 port-43 port-44 port-45 port-46 port-47 port-48";
}
