{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'netbox_device_view/css/device_view.css' %}">
<style>
	{% autoescape off %}
	{{ dv.grid_template_area }}
	{% endautoescape %}
</style>
{% endblock %}

{% block content %}
<div class="card">
	<h2 class="card-header">
		Switchview {{ object.name }}
	</h2>
	<div class="card-body">
		{% spaceless %}
		{% for switch, interfaces in ports_chassis.items %}
		Switch {{switch}}
		<div class="switchview area">
			{% for int in interfaces %}
			<p class ="{% if int.enabled and int.connected_endpoints|length > 0 %}bg-success{% elif int.enabled %}bg-secondary{% else %}bg-danger{% endif %}" title="{{ int.name }}" style="grid-area: {{ int.stylename }}">
				{% if int.enabled and int.connected_endpoints|length > 0 %}
				<span class="text-white"><i class="mdi mdi-check-bold"></i></span>
				{% elif int.enabled %}
				<span class="text-white"><i class="mdi mdi-check-bold"></i></span>
				{% else %}
				<span class="text-white"><i class="mdi mdi-close-thick"></i></span>
				{% endif %}
			</p>
			{% endfor %}
		</div>
		{% endfor %}
		{% endspaceless %}
	</div>
</div>
{% endblock %}